* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #394C83;
    color: white;
    text-align: justify;
}

.main > p{
    padding: 0 80px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header .header_nav {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header_nav .logo {
    padding: 0;
    border: none;
    border: 2px solid black;
}

.header .header_nav a {
    background-color: #2D2265;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    padding: 20px 26px;
}

.header .header_nav a:hover {
    background-color: #394C83;
    color: white;
}

.header .header_nav img{
    background-color: #2D2265;
    width: 130px;
    height: 130px;
}

.header .header_nav img:hover{
    background-color: #394C83;
    width: 130px;
    height: 130px;
}

.search {
    display: flex;
    justify-content: right;
    margin-right: 50px;
    margin-bottom: 60px;
}

.search > input{
    width: 400px;
    height: 30px;
}

.search > a {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: #2D2265;
    color: white;
}

.search > a:hover{
    background-color: gray;
    color: #2D2265;
}

.main {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.juegosDestacados {
    background-color: #2D2265;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.juegosDestacados > div {
    display: flex;
    flex-direction: row;
}

.juegosDestacados > img {
    transition: transform 0.3s ease;
    margin-top: 50px;
    width: 90%;
    max-width: 1000px;
    height: 500px;
    border-radius: 10px;
}

.juegosDestacados > img:hover {
    transform: scale(1.05);
}

.juegosDestacados > div > img {
    transition: transform 0.3s ease;
    width: 30%;
    max-width: 300px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
}

.juegosDestacados > div > img:hover {
    transform: scale(1.05);
}

.desarrolladoraDestacada {
    transition: transform 0.3s ease;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.desarrolladoraDestacada:hover {
    transform: scale(1.05);
}

.popularRecientemente {
    display: flex;
    flex-direction: row;
    background-color: #2D2265;
    border-radius: 10px;
}

.completos {
    width: 70%;
    background-color: #2D2265;
    border-radius: 10px;
}

.completos div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 70px 40px;
}

.completos img {
    transition: transform 0.3s ease;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    margin-right: 20px;
}

.completos img:hover {
    transform: scale(1.05);
}

.portadas {
    width: 30%;
    background-color: #1F1749;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
}

.portadas img {
    transition: transform 0.3s ease;
    height: 150px;
    width: 300px;
    margin: 40px;
    border-radius: 10px;
}

.portadas img:hover {
    transform: scale(1.05);
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    background-color: #2D2265;
    height: 250px;
    width: 100%;
}

.footer > div {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 380px;
    height: 200px;
    justify-content: space-around;
}

.footerA {
    color: rgb(164, 164, 164);
}

@media (max-width: 780px) {
    .header .header_nav {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header_nav > a{
        width: 100%;
        text-align: center;
    }

    .popularRecientemente {
        display: flex;
        flex-direction: column;
        background-color: #2D2265;
        border-radius: 10px;
    }

    .portadas {
        width: 100%;
    }

    .completos > div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #2D2265;
        bottom: 0;
    }

    .footer > div {
        width: 100%;
    }
}